@{ ViewData["Title"] = "Password"; }
@model User

<style>
    label {
        display: inline-block;
        width: 140px;
        text-align: right;
    }
</style>

<br />
<br />
<h1 class="text-center">Change Password</h1>
<br />
<form method="post" asp-controller="Account" asp-action="UpdatePassword" class="text-center" style="grid-column-start: 3; grid-column-end: span 2; grid-row-start: 4;">
    <label>New Password: </label>
    <input type="password" name="password" id="password" min="8" />
    <br />
    <label>Confirm Password: </label>
    <input type="password" name="confirmPassword" id="confirmPassword" min="8" />
    <br />
    <input type="hidden" value="@Model.Id" name="ID" id="ID" />
    <br />
    <button class="btn btn-outline-primary" type="submit">Change Password</button>

</form>
<br />
<h3 class="text-center text-danger">@ViewBag.Message</h3>